body {
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.125rem;
  font-weight: 300;
  color: #707070;
}

/* TYPEOGRAPHY */
h1,
h2, h3 {
  font-family: "Lora", sans-serif;
  font-weight: 400;
  color: #143774;
  margin: 0;
}

h2 {
  margin-bottom: 1em;
}

img {
  width: 100%;
}

header {
  background: #f8f8f8;
  padding: 2em 0;
  text-align: center;
  margin-bottom: 3em;
}

.subtitle {
  margin: 0;
  color: #1792d2;
  font-weight: 700;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 2.5px;
}

a {
  color: #1792D2;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.article-featured,
.article-recent-main, 
.article-info {
  margin-bottom: 2em;
}

.article-read-more {
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.article-body {
  line-height: 1.5;
}

.article-info {
  font-size: 1rem;
}

/* =================
Layout
================= */

.container {
  max-width: 900px;
  width: 90%;
  margin: 0 auto;
  border: 1px solid magenta;
}

.container-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Navigation */

nav ul {
  display: flex;
  list-style: none;
  flex-direction: column;
}

ul li {
  margin: 0.75em 0;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 1rem;
  font-weight: 700;
}

nav a {
  color: #707070;
}

@media (min-width: 685px) {
  .container-flex {
    flex-direction: row;
  }
  nav ul {
    flex-direction: row;
    column-gap: 2em;
  }
}


